# General stuff
.vscode
.DS_Store
*.xlsx

# LaTeX files
*.aux
*.fdb_latexmk
*.fff
*.fls
*.pdf
*.png
*.tex
*.ttt

# PDF articles of the original experiments
/data/articles/

# Fitted Bayesian models
/results/
